@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

#root {
  background-color: #000;
  height: 100vh;
}

.welcomeTitle {
  margin-top: 30px;
  text-align: center;
  font-family: "Passero One", sans-serif;
  color: #FFF;
  font-size: 5rem;
}

.featureSlide {
  margin: 10px auto;
  width: 70%;
}

.bg-body-tertiary {
  background-color: gray;
}

.gray-background {
  background-color: gray;
}

.filter3 {
  margin: 1%;
}

.venue-search {
  background-color: lightgrey;
}

.filter {
  background-color: gray;
  margin-top: 2%;
}

.card {
  margin: 2%;
}

